﻿
body{
    background-color: black;
}

.login-view {
    text-align: center;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 20px;
}

.app-name {
    color: white;
    font-weight: bold;
    margin: 20px;
}

.info-text {
    margin: 20px;
    color: white;
}