﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trabalho AMS </title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/LoginStyle.css")
    @Styles.Render("~/Content/font-awesome/all.min.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class= "login-view container">
        <h1 class="app-name">Trabalho API Spotify</h1>
        
        <a class="btn btn-success"
           href="@Url.Action("Login", "Auth")">
            <i class="fab fa-spotify"></i> LogOn Spotify
        </a>

        <p class="info-text">Criado por Lucas de Almeida Paula</p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/font-awesome")
</body>
</html>
