﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PlayLists</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Criador</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        @foreach (AM_Spotify.Models.PlayList playList in ViewBag.PlayLists)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Tracks", "PlayList", new { idPlayList = @playList.Id })">
                        <i class="fas fa-music"></i>
                    </a>
                </td>
                <td>@playList.Nome</td>
                <td>@playList.Criador</td>
                <td>@playList.Link</td>
            </tr>
        }
    </tbody>
</table>

