﻿
@{
    ViewBag.Title = "Tracks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tracks</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Album</th>
            <th>Artista</th>
        </tr>
    </thead>
    <tbody>
        @foreach (AM_Spotify.Models.Track track in ViewBag.Tracks)
        {
            <tr>
                <td>@track.Nome</td>
                <td>@track.Album</td>
                <td>@track.Artista</td>
            </tr>
        }
    </tbody>
</table>

