﻿@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>Centro de Ensino Superior de Juiz de Fora</p>
    <p>Juiz de Fora - MG</p>
</address>

<address>
    <strong>Contato:</strong> <a href="mailto:magmapt@gmail.com">magmapt@gmail.com</a>
</address>