﻿@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Trabalho API Spotify</h1>
    <p class="lead">Aplicação ASP.NET MVC para utilização da API do Spotify</p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
</div>